$orange: #ed474a;
$white: #fff;
$black: #1b1b1b;
$darkblue: #102336;

.Works {
  margin: 100px;
  text-align: center;
  color: $darkblue;
  h1 {
    padding: 20px;
  }
  .projects {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
  }

  .types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      width: 200px;
      list-style: none;
      text-decoration: none;
      color: $white;
      font-weight: bolder;
      background-color: $orange;
      border-radius: 10px;
      padding: 5px 0;
      margin: 5px 0;
      cursor: pointer;
    }
  }

  .website {
    margin: 5% auto;
    img {
      position: relative;
      width: 50%;
      border-radius: 10px;
      border: 4px solid whitesmoke;
      cursor: pointer;
    }

    img:hover {
      opacity: 0.7;
    }
  }

  #illustration {
    display: none;
    margin: 5% auto;
    img {
      position: relative;
      width: 50%;
      border-radius: 10px;
      border: 4px solid whitesmoke;
      cursor: pointer;
    }

    img:hover {
      opacity: 0.7;
    }
  }
}

@media screen and(max-width: 510px) {
  .types {
    a {
      font-size: 12px;
    }
  }
}
