$orange: #ed474a;
$white: #fff;
$black: #1b1b1b;
$darkblue: #102336;

.Footer {
  width: 100%;
  min-height: 300px;
  max-height: max-content;
  background-color: $orange;

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: #1b1b1b;
    margin: 10px;
    color: $darkblue;
  }
  p {
    text-align: center;
    color: $darkblue;
  }
  .info {
    padding: 10%;
  }
}
